<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ReservesDbConnection"
             connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=ReservesDB;integrated security=True;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
